.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  font-family: $mainFont;
}

.app__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex-grow: 1;
  gap: 1rem;

  max-width: 100rem;
  min-width: 30rem;

  margin: 0 auto;
  margin-top: 6rem;
  padding-top: 3rem;
  box-sizing: border-box;
}

.app__header-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.app__logo {
  width: 5rem;
  height: 5rem;

  margin: 0 auto;
  margin-bottom: 3rem;
}

.app__h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: $l-Fs;
  color: $base;

}

.app__h2 {
 @include h2;
}

.app__h3 {
 @include h3;
}

.app__block {
  @include block;
  @include b-shadow;

  &--width {
    width: 100%;
  }


}

.app__input {
  @include input;
}

.app__row-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  margin-bottom: 2rem;
}

.app__row {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 4rem;

  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  background-color: $lightgray;
}

.app__txt {
  font-size: $mainFs;
  color: $exdarkgray;
}

.app__btn {
  @include btn;
  @include btn_anim;
}


// App
.app__item-add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin-bottom: 3rem;
}

.app__txt-row {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 4rem;

  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  background-color: rgba($midgray, 0.07);
}

.app__h3 {
  @include h3;

  &--gray {
    color: $darkgray;
  }
}

.app__item-label {
  @include label;
}

.app__item-input {
  width: 30rem;
  @include input;

  &::placeholder {
    font-weight: 300;
    color: $gray;
  }
}

.app__item-textarea {
  width: 30rem;
  @include textarea;
}

.app__add-item-btn {
  @include btn;
  @include btn_anim;
}


.app__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 2rem;

  width: 100%;
}

.app__item-note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 44%;
  min-height: 5rem;

  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  background-color: rgba($vue, 0.1);
  border: 1px solid $lightgray;
  border-radius: 0.5rem;
  @include b-shadow;

  transition: 0.3s cubic-bezier(.12,.38,.77,.73);

  &:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s cubic-bezier(.12,.38,.77,.73);
  }

  &.width {
    width: 100%;
  }
}

.app__item-close {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  cursor: pointer;
}

.app__icon {
  width: 4rem;
  height: 4rem;

  fill: $darkgray;

  &:hover {
    fill: $darkvue;
  }
}

.app__item-title {
  width: 100%;

  margin-bottom: 2rem;

  text-align: center;
  font-size: $m-Fs;
  font-weight: 500;
  color: $darkvue;
}

.app__item-txt {
  width: 100%;
  margin-bottom: 1rem;

  margin-bottom: 1rem;

  text-align: justify;
  font-size: $s-Fs;
  color: $base;
}

.app__item-date {
  width: 100%;

  margin-bottom: 1rem;

  text-align: right;
  font-size: $xxs-Fs;
}


// Title Filter Style
.app__h-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  min-height: 4rem;

  margin-bottom: 3rem;

  border-bottom: 1px solid $vue;

}

.app__h-row-h2 {
  font-size: $m-Fs;
  color: $darkvue;
}

.app__h-row-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 1;


}

.app__icon-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  cursor: pointer;

  &.active .app__item-icon {
    fill: $darkvue;
  }
}

.app__item-icon {
  width: 4rem;
  height: 4rem;

  fill: $darkgray;

  &:hover {
    fill: $darkvue;
  }
}

.app__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  height: 4rem;
}

.app__search-input {
  @include input;
}

// Modal
.app__btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 100%;
  min-height: 3rem;
}

.app__modal-btn {
  @include btn;
}


.app__modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: rgba($exdarkgray, 0.7);

  z-index: 10;

  transition: 0.5s;

}

.app__modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 30rem;
  max-width: 50rem;
  min-height: 10rem;

  padding: 2rem;

  background-color: $white;
  border-radius: 0.5rem;
  z-index: 1;

  transition: 0.5s;
}

.app__modal-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 2rem;

  margin-bottom: 1rem;

}

.app__modal-h2 {

  font-size: $xs-Fs;
  font-weight: 400;
  color: $base;

  user-select: none;
}

.app__modal-close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
}


.app__modal-list {
  display: flex;

}



.app__modal-slot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}

.app__modal-h3 {
  width: 100%;

  margin-bottom: 1rem;

  text-align: center;
  font-size: $mainFs;
  color: $darkgray;
}

.app__modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 35rem;
}

.app__modal-form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 35rem;
}

.app__modal-label {
  @include label;

  margin-right: auto;

}

.app__modal-label-error {
  position: absolute;
  top: 2.2rem;
  right: 0;

  font-size: $xxs-Fs;
  color: $red;
}

.app__modal-input {
  @include input;

  width: 100%;
}

