.notify {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 30rem;
  min-height: 30rem;

  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;

  background-color: lighten($vue, 47%);
  border-radius: 1rem;
  @include b-shadow;

}

.notify__h2 {
  margin-bottom: 2rem;
  font-size: $m-Fs;
  color: $darkvue;
}

.notify__wrapper {
  display: flex;
}

.notify__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.notify__item {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 3rem ;

  font-size: $s-Fs;
}