// Global
@import 'global/variables';
@import 'global/01_normalize';
@import 'global/common';
@import 'global/global';
@import 'global/mixins';
@import 'global/fonts';

// Parts
@import "parts/page";
@import "parts/header";
@import "parts/main";
@import "parts/footer";

@import "parts/vue";


// Project
@import "project/app";
@import "project/dev";
